* {
	@include box-sizing(border-box);
}

body {
	font: normal 400 16px/26px 'Gentium Book Basic', "Times New Roman", Times, serif;
	background: #ddd;
}

h1 {
	color: #333;
	line-height: 1;
	font-weight: 100;
	margin: 45px 0 6px;
	font-size: 30px;
}

#container {
    width: 960px;
    margin: 30px auto 60px auto;
    background: #fff;
}

.perspective {
	padding: 20px;
	position: relative;
	box-shadow: 0 0px 30px #333;

	h1 {
		// position
		position: absolute;
	}

	h1,
	h1 a {
		// font style
		font-size: 140px;
		text-shadow: 1px 1px #838383;
		letter-spacing: -6px;
		color: #ddd;
	}

	h1 a {
		text-decoration: none;

		&:hover {
			color: #fff;
		}
	}


	// Photo-specific styles

	&.newyork {

		h1 {
			// position
			top: 274px;
			left: 231px;

			// perspective
			-webkit-transform: perspective(500px) rotateX(-3deg) rotateY(-29deg);
		}
	}

	&.paris {

		h1,
		h1 a {
			// font style
			font-size: 145px;
			color: #f6f6f6;
			text-shadow: -2px 0px #666;
		}

		h1 {
			// position
			top: 123px;
			left: 184px;

			//-webkit-transform: perspective(1000px) rotateX(-12deg) rotateY(27deg) rotateZ(3.5deg);
			-webkit-transform: perspective(1000px) rotateX(-12deg) rotateY(19deg) rotateZ(1.5deg);

		}

		h1 a:hover {
			color: #f6f6f6;
		}
	}
}
